{% extends 'base.html' %} {% block main %}

<!DOCTYPE html>
<html>
  <body>
    <h1> Battering Ram </h1>
    <div class="w-40" style="padding-left: 5%">
      <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/our-battering-ram-michael-maslin.jpg" 
          width="800px" height="500px">
    </div>
    <h3>How does battering ram work?</h3>
    <p>Battering ram takes a word from payload, inputs them in all parameters, and continues until there is a result. </p>
    <h3>How many requests does it make?</h3>
    <p>Battering ram will make payload.length * parameters requests.</p>
    <h3>What is battering ram useful for?</h3>
    <p>You'll use battering ram rarely, but it's useful for when you have to input the same thing in multiple parameters.</p>
  </body>
</html>

{% endblock %}