{% extends 'base.html' %} {% block main %}

<!DOCTYPE html>
<html>
  <body>
    <h1> Cluster Bomb </h1>
    <br></br>
    <h3>How does cluster bomb work?</h3>
    <p>Cluster bomb is similar to pitchfork except it runs all possible combinations of the payloads inputted. </p>
    <h5>Examples:</h5>
    <ul>
      <li>Request 1: Username = payload1[0] Password = payload2[0]</li>
      <li>Request 2: Username = payload1[0] Password = payload2[1]</li>
      <li>Request 3: Username = payload1[0] Password = payload2[2]</li>
    </ul>
    <h3>How many requests does it make?</h3>
    <p>Clusterbomb will make payload1.length * payload2.length requests.  </p>
    <h3>What is cluster bomb useful for?</h3>
    <p>Cluster bomb is the brute force attempt of pitchfork. If the inputs are completely unrelated, you use cluster bomb and pray something works out.</p>
  </body>
</html>

{% endblock %}