{% extends 'base.html' %} {% block main %}

<!DOCTYPE html>
<html>
  <body>
    <h1> Introduction to Burp Intruder :D</h1>
    <p> By The Weakest Link - Joseph Wu and Zesan Rahman </p>
    <!-- Site should have a header with link pages to each type of attack. Cluster bomb is the exception; that requires more work. -->
    <br></br>
    <h3>What is Burp Intruder?</h3>
    <p>Burp intruder is a tool in burp used for automating customized attacks against web applications. It enables you to configure attacks that send the same HTTP request over and over again, inserting different payloads into predefined positions each time.</p>
    <h3>Basic Terminology</h3>
    <ul>
      <li>Payload - In these situations, this refers to wordlists that will contain some input information, including usernames and/or passwords.</li>
    </ul>
  </body>
</html>

{% endblock %}