<!DOCTYPE html>
<html>
  <body>
    <ul>
      <a href = "/">Home</a>
      <a href = "/sniper">Sniper</a>
      <a href = "/battering_ram">Battering Ram</a>
      <a href = "/pitchfork">Pitchfork</a>
      <a href = "/cluster_bomb">Cluster Bomb</a>  
    </ul>
    <h1> Pitchfork </h1>
    <br></br>
    <h3>How does pitchfork work?</h3>
    <p>Pitchfork takes the nth index in each payload.</p>
    <h5>Examples:</h5>
    <ul>
      <li>Request 1: Username = payload1[0] Password = payload2[0]</li>
      <li>Request 2: Username = payload1[1] Password = payload2[1]</li>
      <li>Request 3: Username = payload1[2] Password = payload2[2]</li>
    </ul>
    <h3>How many requests does it make?</h3>
    <p>Pitchfork will make as many requests as the length of the shortest payload. </p>
    <h3>What is pitchfork useful for?</h3>
    <p>Very useful when an attack needs 2 different but related parameters. For example, the username and password in the examples above.</p>
  </body>
</html>
