{% extends 'base.html' %} {% block main %}

<!DOCTYPE html>
<html>
  <body>
    {% if admin %}
    <a href="/SUPER_SECRET_PASSWORDS" class="link">SUPER SECRET PASSWORDS</a>
    {% endif %}
    <h1> USER PROFILE </h1>
    <h3>Password Change</h3>
    <form class="px-2" id="changeForm"
        action="{{ url_for('change_password') }}" method="POST">
        <a>New Password:</a>
        <input type="password" name="passone">
        <a>Confirm Password:</a>
        <input type="password" name="passtwo">
        <button id="passwordButton" type="submit"
            class="btn btn-primary btn-block"
            style="margin-top: 5%; width: 100%;">Submit</button>
        <a>{{ message }}</a>
    </form>
  </body>
</html>

{% endblock %}