{% extends 'base.html' %} {% block main %}

<!DOCTYPE html>
<html>
  <body>
    <ul>
      <a href = "/">Home</a>
      <a href = "/sniper">Sniper</a>
      <a href = "/battering_ram">Battering Ram</a>
      <a href = "/pitchfork">Pitchfork</a>
      <a href = "/cluster_bomb">Cluster Bomb</a>  
    </ul>
    <h1> Sniper </h1>
    <br></br>
    <h3>How does sniper work?</h3>
    <p>Sniper takes 1 payload and places each word in the payload into the position. </p>
    <h3>How many requests does it make?</h3>
    <p>Sniper will make payload-length requests. </p>
    <h3>What is sniper useful for?</h3>
    <p>Sniper is useful for running through a list of scripts to check for common vulnerabilities.  </p> <!--Mention javascript abusing-->
  </body>
</html>

{% endblock %}