{% extends 'base.html' %} {% block main %}

<!DOCTYPE html>
<html>
  <body>
    <h1> Sniper </h1>
    <div class="w-40" style="padding-left: 5%">
      <img src="https://letsdraw.it/drawing/y7f7pmfry.svg" 
          alt="Fluid Image" height="500px" width="800px">
    </div>
    <h3>How does sniper work?</h3>
    <p>Sniper takes 1 payload and places each word in the payload into the position. </p>
    <h3>How many requests does it make?</h3>
    <p>Sniper will make payload-length requests. </p>
    <h3>What is sniper useful for?</h3>
    <p>Sniper is useful for running through a list of scripts to check for common vulnerabilities.  </p> <!--Mention javascript abusing-->
  </body>
</html>

{% endblock %}